img {
  height: 300px;
  width: 100%;
}
body {
  text-align: center;
}

.turtlePage {
  display: none;
}
.snakePage {
  display: none;
}
.insectPage {
  display: none;
}
/*#main {
  display: none;
}*/
